<?xml version="1.0"?>
<!--  Copyright 2009 Västa Götalandsregionen

  This library is free software; you can redistribute it and/or modify
  it under the terms of version 2.1 of the GNU Lesser General Public
  License as published by the Free Software Foundation.

  This library is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public
  License along with this library; if not, write to the
  Free Software Foundation, Inc., 59 Temple Place, Suite 330,
  Boston, MA 02111-1307  USA
 -->

<!--
Maven2 settings. To be placed in $USER_HOME/.m2
-->
<settings>

  <servers>
    <!-- Set your svn user/pw to deploy artifacts to 
	an svn maven-repo, see also the distributionManagement 
	element in the main pom-file (for projects generated with
	the RA maven plugin this file is also generated) -->
    <server>
      <id>svn-repo</id>
      <username>CHANGE_ME</username>
      <password>CHANGE_ME</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>oppna-program</id>
      <repositories>
        <repository>
          <id>maven1.java.net</id>
          <url>http://download.java.net/maven/1</url>
          <layout>legacy</layout>
        </repository>
        <repository>
          <id>maven2.java.net</id>
          <url>http://download.java.net/maven/2</url>
        </repository>
        <repository>
          <id>oppnaprogram-maven-repo</id>
          <url>http://oppna-program.googlecode.com/svn/maven</url>
        </repository>
      </repositories>
	   <pluginRepositories>
        <pluginRepository>
          <id>oppnaprogram-maven-repo</id>
          <url>http://oppna-program.googlecode.com/svn/maven</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>oppna-program</activeProfile>
  </activeProfiles>
  <pluginGroups>
    <pluginGroup>se.vgr.javg.maven.plugins</pluginGroup>
  </pluginGroups>

</settings>